.underlineanim {
    display: inline-block;
    position: relative;
  }
  .underlineanim:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -1;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .underlineanim:hover:after {
    width: 100%;
    left: 0;
  }